<div class="dropdown ms-auto" data-controller="theme" data-theme-storage-key-value="theme">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="bi bi-circle-half"></i> <span class="d-none d-md-inline">Theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><button class="dropdown-item" data-bs-theme-value="light" data-theme-target="button"
        data-action="theme#select">Light</button></li>
    <li><button class="dropdown-item" data-bs-theme-value="dark" data-theme-target="button"
        data-action="theme#select">Dark</button></li>
    <li><button class="dropdown-item" data-bs-theme-value="auto" data-theme-target="button"
        data-action="theme#select">System</button></li>
  </ul>
</div>