/* lesson-content */

#lesson-content aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

#lesson-content aside > p {
  margin: 0.5rem;
}

/* fix horizontal overflow on mobile */
#lesson-content a {
  word-wrap: break-word;
}

#lesson-content > h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem !important;
  position: relative;
}

.heading-link {
  opacity: 0;
  color: var(--bs-primary);
  transition: opacity 0.15s ease-in-out;
  margin-left: 0.5rem;
  text-decoration: none;
}

#lesson-content h1:hover .heading-link,
#lesson-content h2:hover .heading-link,
#lesson-content h3:hover .heading-link,
#lesson-content h4:hover .heading-link,
#lesson-content h5:hover .heading-link,
#lesson-content h6:hover .heading-link {
  opacity: 1;
}

.live-code-editor {
  resize: vertical;
  overflow: auto;
}


/* theme toggle */

.fade-out {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

/* GitHub link */
.github-link {
  display: flex;
}

.github-link .btn {
  transition: all 0.2s ease-in-out;
}

.github-link .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* TOC */

:root {
  --toc-offset-top: 5rem;
}

.toc-sticky {
  position: sticky;
  top: var(--toc-offset-top);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.toc-h3 {
  padding-left: 0.75rem;
  font-size: 0.9em;
}
