/* TOC */

:root {
  --toc-offset-top: 80px;
}

.toc-sticky {
  position: sticky;
  top: var(--toc-offset-top);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.toc-h3 {
  padding-left: 0.75rem;
  font-size: 0.9em;
}
