<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/stylesheets/default.css' | relative_url }}">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

    <script type="importmap">
      {
        "imports": {
          "monaco-editor": "https://cdn.jsdelivr.net/npm/monaco-editor@0.52.2/+esm",
          "@hotwired/stimulus": "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js",
          "marked": "https://cdn.jsdelivr.net/npm/marked@15.0.12/lib/marked.esm.js",
          "dompurify": "https://esm.sh/dompurify@3.2.6",
          "controllers/boot_controller": "/assets/js/controllers/boot_controller.js",
          "controllers/live_code_controller": "/assets/js/controllers/live_code_controller.js",
          "controllers/remote_repo_controller": "/assets/js/controllers/remote_repo_controller.js",
          "controllers/theme_toggle_controller": "/assets/js/controllers/theme_toggle_controller.js",
          "controllers/toc_controller": "/assets/js/controllers/toc_controller.js"
        }
      }
    </script>
    <script type="module" src="{{ '/assets/js/application.js' | relative_url }}"></script>

  </head>
  <body
    data-controller="boot"
    data-action="remote-repo:ready@document->boot#ready"
  >
    {% include nav.html %}
    <div class="container py-4">
      <div class="row">
        <!-- Lesson + TOC wrapper -->
        <div class="col-12 d-flex flex-column flex-lg-row gap-3">
          <!-- Main lesson content -->
          <div class="col-lg-9" id="lesson">
            {% unless page.repo_url %}
              <h1>{{ page.title }}</h1>
              {% if page.subheading %}
                <p class="lead">{{ page.subheading }}</p>
              {% endif %}
            {% endunless %}
            {% unless page.table_of_contents == false %}
              {% include toc_mobile.html %}
            {% endunless %}
            <main id="lesson-content"
                  data-controller="remote-repo"
                  {% if page.repo_url %}
                    data-remote-repo-url-value="{{ page.repo_url | escape }}"
                  {% endif %}
            >
              <!-- TODO: loading lesson spinner -->
              {% unless page.repo_url %}
                {{ content }}
              {% endunless %}
            </main>
          </div>
          {% unless page.table_of_contents == false %}
            {% include toc_desktop.html %}
          {% endunless %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
